# Detekt Configuration
config:
  validation: true
  warningsAsErrors: false

comments:
  active: false

complexity:
  active: true
  LongParameterList:
    active: true
    functionThreshold: 6
  LongMethod:
    active: true
    threshold: 60
  CyclomaticComplexMethod:
    active: true
    threshold: 15
  TooManyFunctions:
    active: true
    thresholdInFiles: 11
    thresholdInClasses: 11

coroutines:
  active: true

empty-blocks:
  active: true

exceptions:
  active: true

naming:
  active: true

performance:
  active: true

potential-bugs:
  active: true

style:
  active: true
  ReturnCount:
    active: true
    max: 2
  NewLineAtEndOfFile:
    active: true
  WildcardImport:
    active: true
  MagicNumber:
    active: true
    ignoreNumbers: ["-1", "0", "1", "2"]
    ignorePropertyDeclaration: true