name: Сборка и Тестирование

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Клонирование репозитория
        uses: actions/checkout@v4

      - name: Установка JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Настройка Gradle
        uses: gradle/gradle-build-action@v3

      - name: Сборка проекта
        run: ./gradlew build -x test

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Клонирование репозитория
        uses: actions/checkout@v4

      - name: Установка JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Настройка Gradle
        uses: gradle/gradle-build-action@v3

      - name: Запуск тестов
        run: ./gradlew test

      - name: Загрузка результатов тестов
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: build/reports/tests/test/
